<!DOCTYPE html>
<html>
<head>
	<title>SpiceViewer</title>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body class="<%= params[:site] if params[:site].present? %> <%= @formatClass %>">

<%= yield %>

</body>
</html>
